# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*obj
*bin

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Pasteleria/v16/.suo
/.vs/Pasteleria/DesignTimeBuild/*.v2
/.vs/Pasteleria/config
/Pasteleria/Properties/PublishProfiles/Pasteleria - Zip Deploy.pubxml.user
