
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="generator" content="">


@*<title>@Resource.appName</title>*@
<meta name="description" content="Deliciosos pasteles y variedades de dulces para cualquier ocasión"/>
<meta name="keywords" content="pasteles, postres, rico, delicioso, tienda, negocio, Jeny"/>
@*<meta name="author" content="Andres Montoya" />*@
@*<META NAME="reply-to" CONTENT="andres_99montoy@hotmail.com">*@
@*<LINK REV="made" href="mailto:andres_99montoy@hotmail.com">*@
@*<meta name="copyright" content="Propietario del copyright" />*@
 <meta name="robots" content="index,follow"/>

 <meta http-equiv="cache-control" content="cache"/>
 <meta http-equiv="expires" content="600"/>


<link href="~/templete/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link href="~/templete/css/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet">
</head>
<body>

    @RenderBody()

<!-- CALL TO ACTION =============================-->
<section class="content-block" style="background-color:#E91E63;">
<div class="container text-center">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="item" data-scrollreveal="enter top over 0.4s after 0.1s">
				<h1 class="callactiontitle"> Promote Items Area Give Discount to Buyers <span class="callactionbutton"><i class="fa fa-gift"></i> WOW24TH</span>
				</h1>
			</div>
		</div>
	</div>
</div>
</section>

<!-- FOOTER =============================-->

<div class="footer text-center">
	<div class="container">
		<div class="row">
			<p class="footernote">
				 Connect with @ResourceConfig.Resources.menu.First().title1
			</p>
			<ul class="social-iconsfooter">
				@*<li><a href="#"><i class="fa fa-phone"></i></a></li>*@
				<li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://www.google.com" target="_blank"><i class="fa fa-google"></i></a></li>
				@*<li><a href="#"><i class="fa fa-pinterest"></i></a></li>*@
			</ul>
			<p>				
				@*Scorilo - Free template by <a href="https://www.wowthemes.net/">WowThemesNet</a>*@
				Telefonos: <strong>318 456 1281</strong> - <strong>317 895 78 12</strong> <br/>
				Dirección: <strong>Cra 41 H # 44 46</strong> <br/>
				@*&copy;*@ <script> document.write(new Date().getFullYear()); </script> <strong> @Resource.appName </strong>
			</p>
		</div>
	</div>
</div>

<!-- SCRIPTS =============================-->
<script src="~/templete/js/jquery-.js"></script>
<script src="~/templete/js/bootstrap.min.js"></script>
<script src="~/templete/js/anim.js"></script>

	<script>
	//----HOVER CAPTION---//	  
	jQuery(document).ready(function ($) {
		$('.fadeshop').hover(
			function(){
				$(this).find('.captionshop').fadeIn(150);
			},
			function(){
				$(this).find('.captionshop').fadeOut(150);
			}
		);
	});
	</script>

</body>
</html>