@page "/"
@model IndexModel

<title>@Resource.appName / @ResourceConfig.Resources.HOME</title>

<!-- HEADER =============================-->
<partial name="Compoments/Header/Header" model="new Compoments.HeaderModel()" />

<!-- CONTENT =============================-->
<section class="item content background-content">
<div class="container toparea" style="width: initial;">
	
<!-- Card-Gallery =============================-->
@{
	ResourceConfig.Resources.ComponentId = 1;
}
<partial name="Compoments/Gallery/Card-Gallery" model="new Compoments.Card_GalleryModel()" />

<!-- BUTTON =============================-->
<div class="item content">
	<div class="container text-center" style="margin-bottom: 100px ;">
		<a asp-area="" asp-page="Catalogues" class="homebrowseitems">Ver Catálogo
		<div class="homebrowseitemsicon">
			<i class="fa fa-star fa-spin"></i>
		</div>
		</a>
	</div>
</div>

<!-- AREA =============================-->
<div class="item content">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<i class="fa fa-motorcycle infoareaicon"></i>
				<div class="infoareawrap">
					<h1 class="text-center subtitle">Servicio a Domicilio</h1>
					<p class="text-center">
						 Contamos con servicio a Domicilio en toda la ciudad de Cali.
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<i class="fa fa-birthday-cake infoareaicon"></i>
				<div class="infoareawrap">
					<h1 class="text-center subtitle">Perzonalizados</h1>
					<p class="text-center">
						 Pasteles perzonalizados para cualquier ocasión.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- AREA =============================-->
<div class="item content">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
			</div>
			<!-- /.col-md-4 col -->
			<div class="col-md-6">
				<i class="fa fa-gift infoareaicon"></i>
				<div class="infoareawrap">
					<h1 class="text-center subtitle">Promociones</h1>
					<p class="text-center">
						 Promociones, paquetes y descuentos en los productos
					</p>
				</div>
			</div>
			<!-- /.col-md-4 col -->
			<div class="col-md-3">

			</div>
		</div>
	</div>
</div>


<!-- STEPS =============================-->
@*<div class="item content">
	<div class="container toparea">
		<div class="row text-center">
			<div class="col-md-4 editContent">
				<div class="col">
					<span class="numberstep"><i class="fa fa-gift"></i></span>
					<h3 class="numbertext">Promociones</h3>
					<p>
						 Descuentos y paquetes en todos los produtos.
					</p>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.col-md-4 col -->
			<div class="col-md-4 editContent">
				<div class="col">
					<span class="numberstep"><i class="fa fa-motorcycle"></i></span>
					<h3 class="numbertext">Servicio a Domicilio</h3>
					<p>
						 Contamos con servicio a Domicilio en toda la ciudad de Cali.
					</p>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.col-md-4 col -->
			<div class="col-md-4 editContent">
				
			</div>
		</div>
	</div>
</div>*@

<!-- TESTIMONIAL =============================-->
@*<div class="item content">
	<div class="container">
		<div class="col-md-10 col-md-offset-1">
			<div class="slide-text">
				<div>
					<h2><span class="uppercase">Awesome Support</span></h2>
					<img src="http://www.themepush.com/demo/salique/salique-boxed/images/temp/avatar2.png" alt="Awesome Support">
					<p>
						 The support... I can only say it's awesome. You make a product and you help people out any way you can even if it means that you have to log in on their dashboard to sort out any problems that customer might have. Simply Outstanding!
					</p>
					<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
</div>*@

</div>
</section>