@page "/"
@model IndexModel

<title>@Resource.appName / @ResourceConfig.Resources.HOME</title>

<!-- HEADER =============================-->
<partial name="Compoments/Header/Header" model="new Compoments.HeaderModel()" />

<!-- CONTENT =============================-->
<section class="item content background-content">
<div class="container toparea" style="width: initial;">
	
<!-- Card-Gallery =============================-->
<partial name="Compoments/Gallery/Card-Gallery" model="new Compoments.Card_GalleryModel()" />

<!-- BUTTON =============================-->
<div class="item content">
	<div class="container text-center" style="margin-bottom: 100px ;">
		<a asp-area="" asp-page="Catalogues" class="homebrowseitems">Ver Catálogo
		<div class="homebrowseitemsicon">
			<i class="fa fa-star fa-spin"></i>
		</div>
		</a>
	</div>
</div>

</div>
</section>