@page "/Products"
@model Pasteleria.Pages.Views.ProductsModel
@{
    Layout = "_Layout";
}

<title>@Resource.appName / @ResourceConfig.Resources.PRODUCTS</title>

<!-- HEADER =============================-->
<partial name="Compoments/Header/Header" model="new Compoments.HeaderModel()" />

<!-- CONTENT =============================-->
<section class="item content background-content">
<div class="container toparea" style="width: initial;">

	<section class="item content">
	<div class="container">
	
		<div class="underlined-title">
			
			<div class="wow-hr type_short">
				<span class="wow-hr-h">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				</span>
			</div>

			<div class="editContent">
				<h1 class="text-center latestitems">Awesome Product</h1>
			</div>
			<div class="wow-hr type_short">
				<span class="wow-hr-h">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="productbox">
					<img src="http://drive.google.com/uc?export=view&id=1t0bcgDyPOlRDXGR5J5EDl1NcZh4kvHGP" alt="">
					<div class="clearfix">
					</div>
					<br/>
				</div>
			</div>
			<div class="col-md-4">
				<a href="#" class="btn btn-buynow">$6800</a>
				<div class="properties-box">
					<b> Descripción detallada del producto </b>
					@*<ul class="unstyle">
						<li><b class="propertyname">Version:</b> 1.0</li>
						<li><b class="propertyname">Image Size:</b> 2340x1200</li>
						<li><b class="propertyname">Files Included:</b> mp3, audio, jpeg, png</li>
						<li><b class="propertyname">Documentation:</b> Well Documented</li>
						<li><b class="propertyname">License:</b> GNU</li>
						<li><b class="propertyname">Requires:</b> Easy Digital Downloads</li>
						<li><b class="propertyname">Environment:</b> Wordpress</li>
						<li><b class="propertyname">Any Field Etc:</b> Any Detail</li>
						<li><b class="propertyname">Number:</b> Up to 20 specifications in this box</li>
						<li><b class="propertyname">Live Demo:</b><a target="_blank" href="http://www.wowthemes.net/">http://www.wowthemes.net/</a></li>
					</ul>*@
				</div>
			</div>
		</div>

	</div>
	</section>

</div>
</section>
